@import "./style2.scss";

@mixin test() {
    border: 3px red solid;
}

$width: 100px;
$heigth: 100px;


@mixin getBox($border, $x:2) {
    width: 100 * $x;
    height: 100 * $x;
    border: $border;
}

.block {
    background: yellow;
    width: $width;
    height: $heigth;

    &__elem {
        background: lightblue;
        @include getBox(1px solid red);
    }                 
}
.name {
    @extend .block;
    @include test();
}

