// - index.pug
doctype
html(lang="ru")
    head
        meta(charset="utf-8")
        title My day
    body
        div.wrap#main "hello, people"
            header
            .content
            footer
        mixin block(text)
            div
                div=text
        ol
        - const mas=['hi','good','day'];
            for item in mas
                li=item
        +block("tratata")
